
<div class = "ListContainer">
  <div class = "ListCard">
  <div class = "ListBody">
  
  
          <button [ngStyle]="{width: '30px'}" mat-icon-button [matMenuTriggerFor]="menu" aria-label="List Control Menu">
              <mat-icon>more_vert</mat-icon>
            </button>
      
            <mat-menu #menu="matMenu">
              <button mat-menu-item  aria-hidden="false" aria-label="Add List Button" (click)="openAddList()">
                  <span>Add List</span>
              </button>
              <button mat-menu-item aria-hidden="false" aria-label="Delete List Button" (click)="openDeleteList()"*ngIf="(localCollection.lists.length > 1)">
                  <span>Delete List</span>
              </button>
              <button mat-menu-item aria-hidden="false" aria-label="Add Collaborator Button" (click)="openAddCollaborator()">
                <span>Add Collaborator</span>
            </button>
      
            </mat-menu>
  
      <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="activeList" (selectedIndexChange)="activeList = $event" dynamicHeight animationDuration="0ms" [ngStyle]="{width:'90%'}">
  
      <mat-tab *ngFor="let list of localCollection.lists;let listIndex=index" [label]="list.listName">
          <ng-template matTabContent>
  
                  <div class = "ListContent">
                      <form #AddListItem="ngForm" (ngSubmit)="addItem()">
                          <div class = "ListContentControls">
                          <mat-form-field>
                              <input matInput placeholder="Add Item" autocomplete="off" [(ngModel)]="newValue" name="newValue">
                          </mat-form-field>
                          <button mat-icon-button color="primary" [disabled]=!(newValue)><mat-icon>add</mat-icon></button>
                          <button [disabled]="!selectionList.selectedOptions.selected.length" mat-icon-button  aria-hidden="false" aria-label="Delete Icon" (click)="deleteSelected()">
                            <mat-icon>delete</mat-icon>
                          </button>
                      </div>
                          </form>
                          <mat-card>
                          <mat-card-content>
                  <mat-selection-list #selectionList>
                      <mat-list-option *ngFor="let item of list.items;let itemIndex=index" [value]="item.value" [(selected)]="item.marked" (click)="setCollection()" [ngStyle]="{wordWrap: 'break-word'}">
                          {{item.value}}
                      </mat-list-option>
                  </mat-selection-list>
                  </mat-card-content>
                  </mat-card>
              </div>
          </ng-template>
        </mat-tab>
        
      </mat-tab-group>
  </div>
  </div>
  </div>