<div class = "ListContainer">
<div class = "ListCard">
<div class = "ListBody">


        <button [ngStyle]="{width: '30px'}" mat-icon-button [matMenuTriggerFor]="menu" aria-label="List Control Menu">
            <mat-icon>more_vert</mat-icon>
          </button>
    
          <mat-menu #menu="matMenu">
            <button mat-menu-item  aria-hidden="false" aria-label="Add List Button" (click)="openDialog()">
                <span>Add List</span>
            </button>
            <button mat-menu-item aria-hidden="false" aria-label="Delete List Button" (click)="openDeleteDialog()"[disabled]="!(userListArray.length > 1)">
                <span>Delete List</span>
            </button>
            
    
          </mat-menu>

    <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="activeTab" (selectedIndexChange)="swapList(userListArray[$event])" dynamicHeight animationDuration="0ms" [ngStyle]="{width:'90%'}">

    <mat-tab *ngFor="let list of userListArray" [label]="list">
        <ng-template matTabContent>

                <div class = "ListContent">
                    <form #AddListItem="ngForm" (ngSubmit)="onSubmit()">
                        <div class = "ListContentControls">

                        <mat-form-field>
                            <input matInput placeholder="Add List Item" [(ngModel)]="NewListItem.Item" name="newListItem">
                        </mat-form-field>
                        <button mat-icon-button color="primary" [disabled]=!(NewListItem.Item)><mat-icon>add</mat-icon></button>
                        <button [disabled]="!selectionList.selectedOptions.selected.length" mat-icon-button  aria-hidden="false" aria-label="Delete Icon" (click)="onDelete()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                        </form>
                        <mat-card>
                        <mat-card-content>
                <mat-selection-list #selectionList [(ngModel)]="SelectedListItems.Items">
                    <mat-list-option *ngFor="let item of LocalList.Items" [value]="item" [ngStyle]="{wordWrap: 'break-word'}">
                        {{item}}
                    </mat-list-option>
                </mat-selection-list>
                </mat-card-content>
                </mat-card>
            </div>
        </ng-template>
      </mat-tab>
      
    </mat-tab-group>
</div>
</div>
</div>