
<div class="AuthenticationContainer">
<div class = "AuthenticationCard">
<mat-card>
    <mat-card-content>
      <form #login="ngForm" (ngSubmit)="onSubmit()">
        <h2 class ="AuthenticationHeader">Create List</h2>
        <mat-error *ngIf="username.length > 0 && !usernameIsValid">
          username is invalid / taken
        </mat-error>
        <mat-error *ngIf="password.length > 0 && !passwordIsValid">
          password is invalid
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="List Name" [(ngModel)]="username" (ngModelChange) = "checkUsername()"name="username">
          <mat-error>
            Please enter a valid name
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" (ngModelChange) = "checkPassword()" name="password">
          <mat-error>
            Please enter a valid password
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="!(usernameIsValid && passwordIsValid && password.length > 0 && username.length > 0)"> Create </button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
  <mat-card-content>
    <nav>
      <h3>Already have a list? <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></h3>
    </nav>
  </mat-card-content>
  </mat-card>
</div>
</div>