<div class="AuthenticationContainer">
<div class = "AuthenticationCard">
<mat-card>
    <mat-card-content>
      <form #login="ngForm" (ngSubmit)="onSubmit()">
        <h2 class="AuthenticationHeader">Log In</h2>
        <mat-error *ngIf="loginValid">
          Invalid Credentials
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="username" (ngModelChange) = "validateForm()" name="username" required>
          <mat-error>
            Please provide a valid username
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" (ngModelChange) = "validateForm()" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]=!(formValid)>Login</button>
      </form>
    </mat-card-content>
  </mat-card>



  <mat-card>
    <mat-card-content>
      <nav>
        <h3> Haven't created an account? <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Create Account</a></h3>
      </nav>
    </mat-card-content>
    </mat-card>
  </div>
</div>